<div id="matched_users" class="issue">

<% form_remote_tag(:url => { :controller => "skills_matcher", :action => :find_users_for_issue}) do %>
	<%= l(:label_issue) %> #
	<%= text_field_tag 'issue_id' %>
	<%= submit_tag l(:button_find_users) %>
<% end %>

<p>&nbsp;</p>
<div id="user_list">
	<%= render :partial => 'skills_matcher/list_users', :locals => { :f => nil } %>
</div>

</div>
